@import './shared';
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;700;800&display=swap');

// General rules
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: $font-family;
  color: $clr-text;
}

h1,
h2,
h3,
ul,
p {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

button {
  cursor: pointer;
}

// Main grid
body {
  display: grid;
  grid-template-columns: auto 1fr;
  min-height: 100vh;
}

// Main
main {
  display: grid;
  align-content: start;
  gap: 9vh;
  padding: 4vh 6vw;
  background: $clr-neutral-300;
}

h1 {
  justify-self: center;
  color: $clr-primary;
  cursor: default;
}

main > div {
  display: grid;
  gap: 10px;
}

// List
.list {
  display: grid;
  align-content: start;
  gap: 10px;
}

.to-do {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 6px;
  font-size: 1.1rem;
}

.to-do__checkbox,
.to-do__content {
  display: grid;
  padding: 16px;
  border-radius: 4px;
  background: $clr-neutral-100;
}

.to-do__checkbox input {
  width: 25px;
  height: 25px;
  accent-color: $clr-primary;
  cursor: pointer;
}

.to-do__content {
  display: grid;
  grid-template-columns: 1fr auto auto;
  align-items: center;
  gap: 2vw;
  font-weight: 600;

  i {
    cursor: pointer;
    color: $clr-primary;
    font-size: 1.2rem;

    &:hover {
      opacity: 0.9;
    }
  }
}

.to-do__description {
  overflow: hidden;
  text-overflow: ellipsis;
}

.to-do__date {
  justify-self: end;
}

.icons {
  display: grid;
  grid-template-columns: auto auto;
  gap: 1.5vw;
}

.important {
  background: $clr-primary;
  color: $clr-neutral-100;

  i {
    color: $clr-neutral-100;
  }

  input[type='checkbox'] {
    accent-color: $clr-neutral-100;
  }
}

.complete {
  opacity: 0.6;
}

// To do form
.list-form {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 6px;

  label {
    display: none;
  }
}

.list-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 57px;
  height: 57px;
  border: none;
  border-radius: 4px;
  background: $clr-primary;
  color: $clr-neutral-100;

  i {
    font-size: 2rem;
  }

  &:hover {
    opacity: 0.9;
  }

  &:active {
    opacity: 0.8;
  }
}

.list-form > div {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 0.5vw;
  border-radius: 4px;
  background: $clr-neutral-100;
  font-size: 1.1rem;
}

#description,
#date {
  height: 100%;
  padding: 16px;
  border: none;
  font-weight: 600;
  outline-color: $clr-primary;
}

#date {
  cursor: pointer;
}
