@import './shared';
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;700;800&display=swap');

// General rules
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: $font-family;
  color: $clr-text;
}

h1,
h2,
h3,
ul,
p {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

button {
  cursor: pointer;
}

.hidden {
  visibility: hidden;
}

.visually-hidden {
  height: 0;
  width: 0;
  overflow: hidden;
  position: absolute;
}

// Main grid
body {
  display: grid;
  grid-template-columns: auto 1fr;
  min-height: 100vh;
}

@media (max-width: 600px) {
  body {
    grid-template-columns: 1fr;
  }
}
