// Fonts
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;400;600;700;800&display=swap');


// Variables
$primary-color: #f7f8fa;
$accent-color: #643fdb;
$text-color: #01002d;
$important-color: #ff8a00;
$system-font-stack: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;


// General rules
*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: 'Mulish', $system-font-stack;
  color: $text-color;
}

h1, ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}


// Main grid
body {
  display: grid;
  grid-template-columns: auto 1fr;
  min-height: 100vh;
}


// Sidebar
.sidebar {
  display: grid;
  padding: 4vh 2vw;
  grid-template-rows: auto 1fr auto;
  gap: 9vh;

  ul {
    display: grid;
    align-content: start;
    font-size: 1.1rem;
  }

  a {
    color: $accent-color;
    text-decoration: none;
  }
}

.logo {
  font-size: 2rem;
  color: $accent-color;
  font-weight: 700;
  justify-self: center;
}

.sidebar li {
  display: grid;
  grid-template-columns: 20px auto;
  justify-content: start;
  gap: 16px;
  align-items: center;
  border-radius: 4px;
  padding: 16px 5vw 16px 1.5vw;
  cursor: pointer;

  &:hover {
    background: rgba(100, 63, 219, 0.2);
  }

  i {
    justify-self: center;
    opacity: 0.4;
  }
}

.sidebar > a {
  align-self: end;
  justify-self: center;
}

.fa-github {
  font-size: 2.2rem;
  transition: transform 0.3s ease-in-out;
}
  
.fa-github:hover {
  transform: rotate(360deg) scale(1.2);
}


// Main
main {
  display: grid;
  background: $primary-color;
  padding: 4vh 6vw;
  align-content: start;
  gap: 9vh;
}

h1 {
  justify-self: center;
  color: $accent-color;
  cursor: default;
}

.list {
  display: grid;
  align-content: start;
  gap: 10px;
}

.to-do {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 6px;
  font-size: 1.1rem;
}

.to-do__checkbox, .to-do__information {
  display: grid;
  border-radius: 4px;
  padding: 16px;
  background: white;
}

.to-do__checkbox input {
  width: 25px;
  height: 25px;
  accent-color: $accent-color;
  cursor: pointer;

}

.to-do__information {
  display: grid;
  align-items: center;
  font-weight: 600;
  grid-template-columns: auto auto;
  justify-content: space-between;

  i {
    cursor: pointer;
    color: $accent-color;
  }

}

.important {
  color: $important-color;
}

.complete {
  opacity: 0.6;
}