// Fonts
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;700;800&display=swap');


// Variables
$primary-color: #f7f8fa;
$accent-color: #643fdb;
$text-color: #01002d;
$important-color: #ff2b00; 
$system-font-stack: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;


// General rules
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Mulish', $system-font-stack;
  color: $text-color;
}

h1, ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
}


// Main grid
body {
  display: grid;
  grid-template-columns: auto 1fr;
  min-height: 100vh;
}


// Sidebar
.sidebar {
  display: grid;
  grid-template-rows: auto 1fr auto;
  padding: 4vh 2vw;
  gap: 9vh;

  ul {
    display: grid;
    align-content: start;
    font-size: 1.1rem;
  }

  a {
    color: $accent-color;
    text-decoration: none;
  }
}

.logo {
  justify-self: center;
  color: $accent-color;
  font-size: 2rem;
  font-weight: 700;
}

.sidebar__li, .dropdown-btn {
  display: grid;
  align-items: center;
  gap: 16px;
  border-radius: 4px;
  transition: color 0.3s;
  cursor: pointer;

  &:hover {
    background: rgba(100, 63, 219, 0.2);
  }
}

ul i {
  justify-self: center;
  opacity: 0.4;
}
.sidebar__li {
  grid-template-columns: 20px auto;
  justify-content: start;
  padding: 16px 6vw 16px 1.5vw;
}

.dropdown-btn {
  grid-template-columns: auto auto;
  justify-content: space-between;
  padding: 16px 1.5vw;
  border: none;
  background: white;

  .fa-caret-down {
    justify-self: end;
  }
}

.dropdown-btn__left {
  display: grid;
  grid-template-columns: 20px auto;
  align-items: center;
  justify-content: start;
  gap: 16px;
}

.li_active, .dropdown-btn_active {
  color: $accent-color;
  font-weight: 600;

  i {
    color: $accent-color;
    opacity: 1;
    transition: opacity 0.3s;
  }
}

.dropdown-btn_active {
  background: rgba(100, 63, 219, 0.2);
}

.dropdown {
  display: none;

  li:hover {
    background: rgba(100, 63, 219, 0.1);
  }
}

.sidebar > a {
  align-self: end;
  justify-self: center;
}

.fa-github {
  font-size: 2.2rem;
  transition: transform 0.3s ease-in-out;
}
  
.fa-github:hover {
  transform: rotate(360deg) scale(1.2);
}

// Project form
.project-form {
  height: 53px;
  padding-right: 1.5vw;
  label {
    display: none;
  }

  i {
    opacity: 1;
    color: $accent-color;
  }
}

#name {
  border-radius: 4px;
  background: white;
  font-size: 1rem;
  height: 100%;
  width: 8vw;
  border: none;
  font-weight: 600;
  outline-color: $accent-color;
}


// Main
main {
  display: grid;
  align-content: start;
  gap: 9vh;
  padding: 4vh 6vw;
  background: $primary-color;
}

h1 {
  justify-self: center;
  color: $accent-color;
  cursor: default;
}

.content {
  display: grid;
  gap: 10px;
}


// List
.list {
  display: grid;
  align-content: start;
  gap: 10px;
}

.to-do {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 6px;
  font-size: 1.1rem;
}

.to-do__checkbox, .to-do__content {
  display: grid;
  padding: 16px;
  border-radius: 4px;
  background: white;
}

.to-do__checkbox input {
  width: 25px;
  height: 25px;
  accent-color: $accent-color;
  cursor: pointer;
}

.to-do__content {
  display: grid;
  grid-template-columns: 1fr auto auto;
  align-items: center;
  gap: 2vw;
  font-weight: 600;

  i {
    cursor: pointer;
    color: $accent-color;
    font-size: 1.2rem;

    &:hover {
      opacity: 0.9;
    }
  }
}

.to-do__description {
  overflow: hidden;
  text-overflow: ellipsis;
}

.to-do__date {
  justify-self: end;
}

.icons {
  display: grid;
  grid-template-columns: auto auto;
  gap: 1.5vw;
}

.important {
  background: $accent-color;
  color: white;

  i {
    color: white;
  }

  input[type="checkbox"] {
    accent-color: white;
  }
}

.complete {
  opacity: 0.6;
}


// To do form
.to-do-form {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 6px;

  label {
    display: none;
  }
}

.to-do-form__button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 57px;
  height: 57px;
  border: none;
  border-radius: 4px;
  background: $accent-color;
  color: white;

  i {
    font-size: 2rem;
  }

  &:hover {
    opacity: 0.9;
  }

  &:active {
    opacity: 0.8;
  }
}

.to-do-form__inputs {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 0.5vw;
  border-radius: 4px;
  background: white;
  font-size: 1.1rem;
}

#description, #due-date {
  height: 100%;
  padding: 16px;
  border: none;
  font-weight: 600;
  outline-color: $accent-color;
}

#due-date {
  cursor: pointer;
}